:root{
    --background: #091833;
    --lightBlue : #0abdc6;
    --darkBlue : #133e7c;
    --violet  : #711c91;
    --lightViolet : #ea00d9;
    --errorRed : #cb0c59;
}

body{
    margin: 0px;
    padding: 0px;
}
/* body margin reset */
@font-face {
    font-family: 'logoFont';
    src: url(https://fonts.gstatic.com/s/sharetechmono/v15/J7aHnp1uDWRBEqV98dVQztYldFcLowEF.woff2);
}
.bigContainer{
    display: flex;
    background-color: var(--background);
}
.backgroundContainer,.rightSideContainer{
height: 100vh
}
.backgroundContainer{
    width: 40%;
    background-image: url("media/file.jpg");
    background-size: cover;
    display: flex;
    align-items: center;
}

.logoContainer{
    width: 100%;
    background-color: black;
    opacity: 60%;
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'logoFont';
}
.header{
    background-color: var(--violet);
    opacity: 30%;
    height: 30vh;
    padding: 50px;
    font-size: 2rem;
    color: var(--background);
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
}